<header>
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/" class="nav-link">View Employees</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/add" class="nav-link">Add New Employee</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/listHouse" class="nav-link">List House</a></li>
      <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
      <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/register" class="nav-link">Register</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/editUser" class="nav-link">Edit Info</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/password" class="nav-link">Change Password</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</a></li>
      <li><a routerLink="/upload" class="nav-link">Upload File</a></li>
    </ul>
  </nav>
</header>
