<div class="row d-flex justify-content-center">
  <form name="form" (ngSubmit)="f.valid && onSubmit()" enctype="multipart/form-data" #f="ngForm" >
    <div class="form-group">
      <label for="name">Your name</label>
      <input type="text" class="form-control" name="name" [(ngModel)]="updateInfo.name" #name="ngModel" minlength="3" maxlength="50"/>
      <div *ngIf="name.touched && name.invalid">
        <div *ngIf="name.errors.minlength" class="text-danger">Name must contain at least 3 characters</div>
        <div *ngIf="name.errors.maxlength" class="text-danger">Name can only contain maximum 50 characters</div>
      </div>
    </div>
    <div class="form-group">
      <label for="birthday">Birthday</label>
      <input type="date" class="form-control" name="birthday" [ngModel]="updateInfo.birthday|date:'yyyy-MM-dd'" (ngModelChange)="updateInfo.birthday=$event" #birthday="ngModel"
             min="{{minDate}}" max="{{maxDate}}"/>
      <div *ngIf="birthday.touched && birthday.invalid">
        <div *ngIf="birthday.errors.min">Please enter your real birthday</div>
        <div *ngIf="birthday.errors.max">You are not old enough</div>
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <label class="form-check-label" for="gender-male">
          <input id="gender-male" type="radio" class="form-check-input" name="gender"
                 [checked]="updateInfo.gender == 'MALE'"  (change)="changeGender(false)">Male
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="gender-female">
          <input id="gender-female" type="radio" class="form-check-input" name="gender"
                 [checked]="updateInfo.gender == 'FEMALE'"  (change)="changeGender(true)">Female
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <input type="text" class="form-control" name="address" [(ngModel)]="updateInfo.address" #address="ngModel"/>
    </div>
    <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <input type="text" class="form-control" name="phoneNumber" [(ngModel)]="updateInfo.phoneNumber" #phoneNumber="ngModel"
             pattern="0([0-9]{9,10})"/>
      <div *ngIf="phoneNumber.touched && phoneNumber.invalid">
        <div *ngIf="phoneNumber.errors.pattern">Phone number is invalid</div>
      </div>
    </div>
    <div class="form-group">
      <img *ngIf="updateInfo.avatarUrl" src="{{updateInfo.avatarUrl}}" class="img-thumbnail md-avatar" alt="">
      <div *ngIf="currentUpload" class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{percentage}}"
             aria-valuemin="0" aria-valuemax="100"
             [ngStyle]="{width:percentage+'%'}">
          {{percentage}}%
        </div>
      </div>

      <label class="btn btn-default"> <input type="file"
                                             (change)="detectFiles($event)">
      </label>
    </div>
    <div class="form-group">
      <button class="btn btn-primary">Update</button>
      <div *ngIf="f.submitted&&isUpdated" class="alert alert-success">
        Update info successfully!
      </div>
      <div *ngIf="f.submitted && isUpdateFailed" class="alert alert-warning">
        Update failed!<br/>{{errorMessage}}
      </div>
    </div>
  </form>
</div>
