<div class="container" *ngIf="house">
  <div>
    <H4>House Detail</H4>
  </div>
  <div class="row">
    <div class="col-6">
      <p>Name: <b> {{house.name}}</b></p>
      <p>Category: <b> {{house.category.name}}</b></p>
      <p>Address: <b>{{house.address}}</b></p>
      <p>Bed rooms: <b>{{house.bedRooms}}</b></p>
      <p>Bath rooms: <b> {{house.bathRooms}}</b></p>
      <p>$/night: <b> {{house.pricePerNight}}</b></p>
      <p>{{house.status}}</p>
      <p>Description: <b> {{house.description}} </b></p>
    </div>
    <div class=" col-6">
      <div>
      <form [formGroup]="bookForm" (ngSubmit)="onBooking()">
        <h4>Booking House</h4>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Check in</label>
              <input type="date" class="form-control" formControlName="checkIn" [(ngModel)]="checkIn">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Check out</label>
              <input type="date" class="form-control" formControlName="checkOut" [(ngModel)]="checkOut">
            </div>
          </div>
        </div>
        <button class="btn btn-danger book">Booking</button>
        <div>
          Total : {{house.pricePerNight}};
        </div>
        <div *ngIf="booked && booking" class="alert alert-success">
          You are booked this house successfully
        </div>
        <div *ngIf="isRented" class="alert alert-danger">
          House is rented, you can check in the day after
        </div>
        <div *ngIf="!authority && booking">
          <a [routerLink]="['/login']" class="btn btn-primary book"> Login to Book</a>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>



