<div id="housePhotos" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li *ngFor="let image of house.images; index as i" data-target="#housePhotos" [attr.data-slide-to]="i"
        [ngClass]="i===0?'active':''"></li>
  </ul>
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div *ngFor="let image of house.images; index as i"
         [ngClass]="i===0?'carousel-item active':'carousel-item'" style="height: 300px">
      <img src="{{image}}" alt="House Photo">
    </div>
  </div>
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#housePhotos" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#housePhotos" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-6">
      <p>Name: {{house.name}} </p>
      <p><i class='fas fa-house-damage'></i>
        Category: {{house.category}} </p>
      <p><i class='fas fa-city'></i>
        Address: {{house.address}} </p>
      <p><i class='fas fa-bed'></i>
        Bed rooms: {{house.bedRooms}} </p>
      <p><i class='fas fa-bath'></i>
        Bath rooms: {{house.bathRooms}} </p>
      <p><i class='fas fa-money-check-alt'></i>
        $/night: {{house.pricePerNight}} </p>

      <p *ngIf="house.isRented"><i class='fas fa-caret-square-right'></i>
        Rented</p>
      <p *ngIf="!house.isRented"><i class='fas fa-caret-square-right'></i>
        Available</p>
      <p><i class="material-icons">description</i>
        {{house.description}}</p>
    </div>
    <div class=" col-6">
      <form [formGroup]="bookForm" (ngSubmit)="onBooking()">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Check in</label>
              <input type="date" class="form-control" formControlName="checkIn"
              >
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Check out</label>
              <input type="date" class="form-control" formControlName="checkOut">
            </div>
          </div>
        </div>
        <input type="submit" class="btn btn-danger book" value="Booking">
        <div>
          Total : {{total}}$
        </div>
      </form>
      <div *ngIf="booked && booking" class="alert alert-success">
        You are booked this house successfully
      </div>
      <div *ngIf="!booked && booking" class="alert alert-danger">
        You are booked this house fail
      </div>
      <div *ngIf="house.isRented && booking" class="alert alert-danger">
        Sorry the house is rented
      </div>
      <div *ngIf="!authority && booking">
        <a [routerLink]="['/login']" class="btn btn-primary book"> Login to Book</a>
      </div>
    </div>
  </div>
</div>


