<div class="container" *ngIf="house">
  <div>
    <H4>House Detail</H4>
  </div>
  <div class="row">
    <div class="col-6">
      <p>Name: {{house.name}} </p>
      <p><i class='fas fa-house-damage'></i>
        Category: {{house.category.name}} </p>
      <p><i class='fas fa-city'></i>
        Address: {{house.address}} </p>
      <p><i class='fas fa-bed'></i>
        Bed rooms: {{house.bedRooms}} </p>
      <p><i class='fas fa-bath'></i>
        Bath rooms: {{house.bathRooms}} </p>
      <p><i class='fas fa-money-check-alt'></i>
        $/night: {{house.pricePerNight}} </p>
      <p><i class='fas fa-caret-square-right' ></i>
        {{house.status}}
      </p>
      <p><i class="material-icons"></i>
        Description: {{house.description}}</p>
    </div>
    <div class=" col-6">
      <form [formGroup]="bookForm" (ngSubmit)="onBooking()">
        <h4>Booking House</h4>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Check in</label>
              <input type="date" class="form-control" formControlName="checkIn" [(ngModel)]="checkIn">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Check out</label>
              <input  type="date" class="form-control" formControlName="checkOut" [(ngModel)]="checkOut" >
            </div>
          </div>
        </div>
        <button class="btn btn-danger book">Booking</button>
        <div>
          Total : {{house.pricePerNight}};
        </div>
      </form>

      <div *ngIf="booked && booking" class="alert alert-success">
        You are booked this house successfully
      </div>
      <div *ngIf="isRented" class="alert alert-danger">
        House is rented, you can check in the day after
      </div>
      <div *ngIf="!authority && booking">
        <a [routerLink]="['/login']" class="btn btn-primary book"> Login to Book</a>
      </div>
    </div>
  </div>
</div>



