<table class="table" *ngIf="houses">
  <thead class="thead-light">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Address</th>
    <th scope="col">PricePerNight</th>
    <th scope="col">Option</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let house of houses, index as i">
    <th scope="row">{{i + 1}}</th>
    <td style="color: darkblue">{{ house.name }}</td>
    <td>{{ house.address }}</td>
    <td>{{ house.pricePerNight }}</td>
    <td>
      <button class="btn btn-danger">Delete</button>
      <button (click)="changeHouseStatus(house.id)" class="btn btn-warning">Edit</button>
      <button (click)="newHouse()" class="btn btn-info">New House</button>
    </td>
  </tr>
  </tbody>
</table>
