<div class="container" style="margin-top: 20px; font-family: 'Abyssinica SIL' ">
  <h2 class="product-title text-center">History Booking</h2>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">House Name</th>
      <th scope="col"> Checkin Date</th>
      <th scope="col"> CheckOut Date</th>
      <th scope="col">Book Date</th>
    </tr>
    </thead>
    <tbody *ngIf="historyBooking !== null">
    <tr
      *ngFor="let history of historyBooking ; index as i ">
      <td>{{i + 1}}</td>
      <td><a routerLink="/houses/{{history.id}}" >{{history.house.name}}</a></td>
      <td>{{history.checkinDate|date}}</td>
      <td>{{history.checkoutDate |date}}</td>
      <td>{{history.bookDate |date}}</td>
      <td style="width: 20%;">
        <a (click)="deleteBooking(history.id)" class="table-link danger">
									<span class="fa-stack delete">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
									</span>
        </a>
        <div *ngIf="isDeleteBooking" class="alert alert-danger">
          You cannot cancel booking within a day before checkin date</div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
