<div *ngIf="isSignedUp; else signupForm">
  Your registration is successful. Please login your email to confirm!
</div>

<ng-template #signupForm>
  <div class="container">
    <div>
      <div>Name          :</div>
      <div><input type="text" name="name" [(ngModel)]="name"></div>
      <div>User Name     :</div>
      <div><input type="text" name="username" [(ngModel)]="username"></div>
      <div>Email         :</div>
      <div><input type="text" name="email" [(ngModel)]="email"></div>
      <div>Password      :</div>
      <div><input type="password" name="password" [(ngModel)]="password"></div>
      <div>Re - Password :</div>
      <div><input type="rePassword" name="rePassword" [(ngModel)]="rePassword"></div>
    </div>
    <br/>
    <button (click)=onSubmit() class="btn btn-success">
      Register
    </button>
  </div>
</ng-template>
