<div *ngIf="isSignedUp; else signupForm">
  Your registration is successful. Please login your email to confirm!
</div>
<ng-template #signupForm>

  <div class="col-md-4 col-md-offset-4" id="login">
    <section id="inner-wrapper" class="login">
          <div class="form-group">
            <div class="input-group">
              <input type="text" placeholder="Name" name="name" [(ngModel)] ="name">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <input type="text"  placeholder="User Name" name="username" [(ngModel)]="username">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <input type="email" placeholder="Email" name="email" [(ngModel)]="email">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <input type="password"  placeholder="Password" name="password" [(ngModel)]="password">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <input type="password"  placeholder="Confirm Password"name="rePassword" [(ngModel)]="rePassword">
            </div>
          </div>
          <button class="btn btn-success" (click)=onSubmit()>Register</button>
    </section></div>
</ng-template>
