<hr/>

<div *ngIf="currentUpload" class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped"
       role="progressbar" attr.aria-valuenow="{{percentage}}"
       aria-valuemin="0" aria-valuemax="100"
       [ngStyle]="{width:percentage+'%'}">
    {{percentage}}%
  </div>
</div>

<label class="btn btn-default"> <input type="file"
                                       (change)="detectFiles($event)">
</label>

<button class="btn btn-success" (click)="onSubmit()">Upload</button>

<hr/>
