<div class="container">
  <h1>Google Maps</h1>

  <div class="form-group">
    <label>Enter address</label>
    <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search address" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
  </div>

  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                (dragEnd)="markerDragEnd ($event)"></agm-marker>
  </agm-map>
  <h5>Address: {{address}}</h5>
  <div>Latitude: {{latitude}}</div>
  <div>Longitude: {{longitude}}</div>
</div>
<div class="panel panel-primary" xmlns="http://www.w3.org/1999/html">
  <div class="panel-heading text-center" >
    <h2>House List</h2>
  </div>
  <div class="container panel-body">
    <div class="row">
      <div class="col-2">
        <label>Search By</label>
      </div>
      <div class="search-hero col-10">
        <input type="text" placeholder="House Name" class="col-2"  [(ngModel)]="houseFilter.name" >
        <input type="text" placeholder="Address" class="col-2"  [(ngModel)]="houseFilter.address" >
        <input type="number" placeholder="Bed Rooms" class="col-1" [(ngModel)]="houseFilter.bedRooms">
        <input type="number" placeholder="Bath Rooms" class="col-1"  [(ngModel)]="houseFilter.bathRooms" >
        <input type="number" placeholder="Min Price" class="col-2"  [(ngModel)]="houseFilter.minPrice" min="0" #minPrice>
        <input type="number" placeholder="Max Price" class="col-2"  [(ngModel)]="houseFilter.maxPrice" min= "{{minPrice.value}}" #maxPrice>
      </div>
      <div class="row">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>bedRooms</th>
            <th>bathRooms</th>
            <th>pricePerNight</th>
            <th>images</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let house of listHouse | async | listFilterPipe: houseFilter">
            <td>{{house.name}}</td>
            <td>{{house.address}}</td>
            <td>{{house.bedRooms}}</td>
            <td>{{house.bathRooms}}</td>
            <td>{{house.pricePerNight}}</td>
            <td>{{house.images}}</td>
            <td>
              <button (click)="houseDetail(house.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
  </div>
  </div>
</div>
