<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>House List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>bedRooms</th>
        <th>bathRooms</th>
        <th>pricePerNight</th>
        <th>images</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let house of listHouse | async">
        <td>{{house.name}}</td>
        <td>{{house.address}}</td>
        <td>{{house.bedRooms}}</td>
        <td>{{house.bathRooms}}</td>
        <td>{{house.pricePerNight}}</td>
        <td>{{house.images}}</td>
        <td>
          <button (click)="houseDetail(house.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
