<div class="form-gap"></div>
<div class="container">
  <div class="row d-flex justify-content-center">
    <div>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <h3><i class="fa fa-lock "></i></h3>
            <h3 class="text-center">Change Password?</h3>
            <div class="panel-body">
              <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <div class="form-group">
                  <label for="currentPassword">Current Password</label>
                  <input type="password" class="form-control" name="currentPassword" [(ngModel)]="form.currentPassword" #currentPassword="ngModel" required currentPassword />
                </div>
                <div class="form-group">
                  <label for="newPassword"> New Password</label>
                  <input type="password" class="form-control" name="newPassword" [(ngModel)]="form.newPassword" #newPassword="ngModel"
                  />
                </div>
                <div class="form-group">
                  <button class="btn btn-primary">Change password</button>
                  <div *ngIf="f.submitted && isChangePasswordFailed" class="alert alert-warning">
                    Change password failed!<br/>{{errorMessage}}
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
