<app-header></app-header>

<header>
  <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('https://datviettour.com.vn/uploads/images/tin-tuc/Tin-mo-ta-danh-muc-tour/du-lich-he/du-lich-he-phu-quoc.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">booking experience </h3>
          <p class="lead">a reputable quality website</p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('http://thuthuatphanmem.vn/uploads/2018/05/18/hinh-nen-full-hd-1080-bai-bien-xanh-ngat_022854175.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <p class="lead">This is a description for the second slide.</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://mktravel.com.vn/assets/image/product_main/autox540/truong-gia-gioi-phu-dung-tran-phuong-hoang-co-tran.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">Home away from home</h3>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>

<!-- Page Content -->
<section class="py-5">
  <div class="container text-center">
    <h1 class="font-weight-light">AIRBNB</h1>
    <p class="lead">Welcome to airbnb a place for real lux an comfortable Holiday!</p>
  </div>
</section>

<header class="bg-primary text-center py-5 mb-4">
  <div class="container">
    <h1 class="font-weight-light text-white">Book now for Sale off 10% </h1>
  </div>
</header>

<!-- Page Content -->
<div class="container py-4 mt-4">

  <!-- Page Heading -->
  <p class="lead ">Our suggestions</p>

  <div class="row mt-4">
    <div class="col-lg-4 col-sm-6 mb-4"  *ngFor="let list of listHouse">
      <div class="card shadow border-0 h-100"  [routerLink]="['', 'houseDetail', list.id]">
<!--        lấy ảnh vào đây-->
        <a><img class="card-img-top" src="{{ list.images}}" style="height: 183.5px;"></a>
<!--        hết ảnh-->
        <div class="card-body">
          <h4 class="card-title">
            <a style="color: cornflowerblue">{{list.name}}</a>
          </h4>
          <p class="card-text">{{list.pricePerNight}}$</p>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Page Content -->
<div class="container py-4 mt-4" *ngIf="!checkLogin">
  <p class="display-3">Meet our Hotel Team</p>
  <div class="row">
    <!-- Team Member 1 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="https://source.unsplash.com/TMgQMXoglsM/500x350" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Heguangxiao</h5>
          <div class="card-text text-black-50">Web Developer</div>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="https://cdn.tuoitre.vn/thumb_w/640/2019/4/23/clip-1555986270962142129187.jpg" class="card-img-top" >
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Lê Công Dũng</h5>
          <div class="card-text text-black-50">Web Developer</div>
        </div>
      </div>
    </div>
    <!-- Team Member 3 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="https://source.unsplash.com/sNut2MqSmds/500x350" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Lê Khắc Hạnh</h5>
          <div class="card-text text-black-50">Web Developer</div>
        </div>
      </div>
    </div>
    <!-- Team Member 4 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="https://s1.thcdn.com/productimg/1600/1600/11520648-3584532226519573.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Vũ Minh Đức</h5>
          <div class="card-text text-black-50">Web Developer</div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->





